<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header class=" bg-gradient-to-l absolute top-0  p-6 left-0 right-0 from-blue-700 to-blue-900 ">
<h2 class="text-3xl">
  <span class="m-0 p-0 text-white font-bold">
  AUTH 
  </span>
  <span class="m-0 p-0 text-white font-light">
  FLOW
  </span>
</h2>
</header>